{%extends 'jiralike/base.html' %}


{%block title%}Create a new project.{%endblock%}
{%block content%}


<form method="post" action = "#"> 
	<!-- If i put /create/ here it created new project -->
	{% csrf_token %}
	
<div class="mb-3 cotainer-md  mx-2">
	<div class ='row'>
		<div class ='col-4'>
			<div class="mb-3">
			  <label for="title" class="form-label">Project Title</label>
		  		<input type="text" class="form-control" name = "title" value = "{{pj.name}}">
					</div>
				</div>
			</div>

<div class = 'cotainer-md  mx-1'>
	<div class ='row'>
		<div class ='col-4'>
		<div class="mb-3">
  			<label for="exampleFormControlTextarea1" class="form-label">Project Description</label>
 			 <textarea class="form-control" rows="3" name = "description">{{pj.description}}</textarea>
				</div>
				</div>
		</div>
</div>
	<button type ='submit', name ='ssss', value="new" class="btn btn-primary mx-2">Save Changes</button>
</form>

{%endblock%}