{%extends 'jiralike/base.html' %}
{%block title%}Projects | BTR {%endblock%}


{% block content%}
{%if pj.exists%}
<div class="container mx-1">
	<div class= 'row'>
			<table class= 'table table-bordered '>
				<thead>
					<tr>
						<th scope='col'>id</th>
						<th scope='col'>Project Name</th>
						<th scope='col'>Submitter</th>
						<th scope='col'>Project Description</th>
						<th scope='col'># of tickets</th>
					</tr>
				</thead>
				<tbody>
						{%for p in pj.all%}
						<tr>
						<!-- <th scope='row'>s</th> -->
						<td class='table-primary'><a href="{% url 'proj' p.id %}">{{p.id}}</a></td>
						<td><a href=/{{p.id}}>{{p.name}}</a></td>
						<td><a href=/{{p.id}}>{{p.user}}</a></td>
						<td>{{p.description}}</td>
						<td>{{p.ticket_set.all.count}}</td>
						</tr>
						{%endfor%}

						
						{%for tt in tcks%}
							{%if tt in pj.all%}
							<td><a href="{% url 'proj' tt.proj.id %}">{{tt.proj.id}}</a></td>
							<td><a href=/{{tt.proj.id}}>{{tt.proj.name}}</a></td>
							<td><a href=/{{tt.proj.id}}>{{tt.proj.user}}</a></td>
							<td>{{tt.description}}</td>
							<td>{{tcks.count}}</td>
							</tr>
							{%endif%}
						{%endfor%}
				</tbody>
			</table>
	</div>
</div>
{%else%}
<div><h2>No assigned projects</h2></div>
{%endif%}
{% endblock %}