{%extends 'jiralike/base.html'%}

{%block content%}

<div class="row bg-primary">
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item active mb-1 rounded">Lorem ipsum dolor sit amet.</li>
            <li class="list-group-item mb-1 rounded">Lorem ipsum dolor sit amet.</li>
            <li class="list-group-item mb-1 rounded">Lorem ipsum dolor sit amet.</li>
            <li class="list-group-item mb-1 rounded">Lorem ipsum dolor sit amet.</li>
            <li class="list-group-item mb-1 rounded">Lorem ipsum dolor sit amet.</li>
            <li class="list-group-item mb-1 rounded">Lorem ipsum dolor sit amet.</li>
        </ul>
    </div>
    
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item active mb-1 rounded">Lorem ipsum dolor sit amet.</li>
            <li class="list-group-item mb-1 rounded">Lorem ipsum dolor sit amet.</li>
            <li class="list-group-item mb-1 rounded">Lorem ipsum dolor sit amet.</li>
            <li class="list-group-item mb-1 rounded">Lorem ipsum dolor sit amet.</li>
        </ul>
    </div>
</div>
{%endblock%}