{%extends 'jiralike/base.html' %}
{%block content%}
<div class="container py-4">
    <div class="row">
       <div class="col-6"> 
        <div class="card border border-dark shadow">
            <div class="card-body">
                <div class="card-title h2">Ticket Information</div>
                <div class="card-text">
                    <div class="row">
                        <div class="col">
                            <div class="row my-3 "><div class="col-5 text-success h4">Project</div><div class="col-7">{{ticket.proj}}</div></div>
                            <div class="row my-3 "><div class="col-5 text-success h4">Priority</div><div class="col-7">{{ticket.priority}}</div></div>
                            <div class="row my-3 "><div class="col-5 text-success h4">Title</div><div class="col-7">{{ticket.title}}</div></div>
                            <div class="row my-3 "><div class="col-5 text-success h4">Assignee</div><div class="col-7">{{ticket.assignee}}</div></div>
                            <div class="row my-3 "><div class="col-5 text-success h4">Description</div><div class="col-7">{{ticket.description}}</div></div>
                            <div class="row my-3 "><div class="col-5 text-success h4">Time Created</div><div class="col-7">{{ticket.created}}</div></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <a href = '{% url "ticket:edit" ticket.id %}'><button type = 'submit', name ='save' value ='update'class="btn btn-primary my-3">Edit ticket</button></a>
    
</div>
{%endblock%}